
.profile-edit-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #c44646; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border 0.3s; 
  }
  
  /* Button hover effect */
  .profile-edit-button:hover {
    background-color: white;  
    color: #c44646;           
  }
  
  /* Profile page styling */
  .profile-header {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .followers-following {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
  }
  
  .followers, .following {
    text-align: center;
  }
  
  .followers span, .following span {
    margin-right: 10px;
  }