#padding
{
    margin-top: 5%;
}

/*.container
{
    background-color: rgb(94, 255, 0);
}

.col
{
    background-color: aqua;
}

.row
{
    background-color: brown;
}*/

.card
{
    background: none;
    border-radius: 0px;
    box-shadow: none;
    
}

#poster
{
    box-shadow: white 0px 0px 0px 3px;

}











/* THE VERY TOP ROW -> TITLE AND */
#title
{
    
    padding: 0px;
}

#title-body
{
    font-weight: bolder;
    font-size: 50px;
    width: 100%;
    text-align: left;
}

#tag
{
    margin-top: -10px;
    font-size: 15px;
    font-style: oblique;
    /*background-color: rgb(130, 118, 7);*/
    text-align: left;
    width: 100%;
}

#genre-date-runtime
{
    margin-top: -5px;
    font-size: 18px;
    /*background-color: rgb(154, 139, 6);*/
    text-align: left;
    width: 100%;
}

#rating
{
    font-size: 7px;
    width:100%;

}


#rating-button
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #c44747;
  border-color: #edf2f4;
  border-width: 5px;
  color: #edf2f4;
  border-radius: 5px;
  padding: 3px;
  height: 90%;
  width: 64%;

  font-size: 12px;
  margin: auto;
  margin-bottom: 8px;
    
}

#rating-button:hover
{
    background-color: #edf2f4;
    color: #c44747;
    transition: background-color 0.2s;
    transition: color 0.2s;
}















/* THE SECOND ROW-> DESCRIPTION SUMMARY */
#description
{

    padding: 5px;
}

#summ-title
{
  
    font-size: 28px;
    text-align: left;
    width: 65%;

}

#summary
{
    width: 80%;
    text-align: left;
    font-size: 15px;
}












/*gaygaygaygaygay budget revenue*/
#budget-revenue-div
{
    margin-bottom: 20px;
    padding: 0px;
}

#budget
{
    font-weight: bold;
    text-align: right;
    padding: 0px;
    font-size: 20px;

}

#budget-value
{
    font-weight: 400;
    text-align: right;
    padding: 0px;
    font-size: 25px;
}

#revenue
{
    font-weight: bold;
    text-align: right;
    font-size: 20px;
}

#revenue-value
{
    font-weight: 400;
    text-align: right;
    font-size: 25px;

}













/* THE THIRDS ROW -> creewwww */
#important-crew
{
    margin-top: 50px;
   
}

#important-person-div
{
    width:80%;
    padding: 0px;
}

#important-person-two-div
{
    margin-top: 100px;
    width:80%;
    padding: 0px;
   
}

#important-person
{
    font-size: 25px;
    font-weight: 600;
}

#important-person-jobs
{
    font-size: 20px;
}



































/* BOTTOM SECTION w/ CAST N SHIT */
#cast-header
{

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 35px;
    width: 85%;
    text-align: left;

}


#photo-slide
{
    padding: 1px;
    margin: 1px;
   
}

#carousel-width
{
    width: 95%;
    margin: auto;
}

#prev
{
    margin-right: 60%;
}

#next
{
    margin-left: 60%;
}

h5
{
    margin-top: -11px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

p
{
    line-height: 15px;
    margin-top: -3px;
    text-align: left;
    font-size: 15px;
}
















/* POPUP FORM FOR WRITING SOME SHIT */
  
  .popup-background 
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .popup-formu 
  {
    color: #edf2f4;
    background-color: red;
    padding: 2rem;
    border-radius: 6px;
    width: 325px;
    z-index: 1001;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  #back
  {
    padding: 15px;
    background-color: #1e1f27;
  }

  
  .popup-formu form 
  {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  #comment-input
  {
    margin-top: -5px;
    background-color: #2b2d42;
    height: 100px;
    word-wrap: break-word;
    word-break: break-all;
  }


  .form-buttons
  {
    display: flex;
    gap: 10px;
    justify-content: center; /* Centers buttons horizontally */
    align-items: center; /* Aligns them properly */
  }


  #super-button
  {
    width: 30%;
    height: 30px;
    padding: 10px;
    gap: 2px;
    border: none;
    background-color: #c44747;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    margin: -2px;
    display: flex;
     align-items: center;
     justify-content: center;
  }

  #cancel-button
  {
    width: 30%;
    height: 30px;
    padding: 10px;
    gap: 2px;
    border: none;
    background: none;
    border-radius: 5px;
    box-shadow: #c44747 inset 0px 0px 0px 3px;
    color: #c44747;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    margin: -2px;
    display: flex;
     align-items: center;
     justify-content: center;

  }

  #super-button:hover
  {
    background-color: #edf2f4;
    color: #c44747;
  }

  #cancel-button:hover
  {
    color: #edf2f4;
    background-color: #ed4337;
    box-shadow: none;

  }



