.starRating {
    display: flex;
    justify-content: center;
    padding: -5px;
  }
  
  .Star {
    margin-top: -1rem;
    padding: 0px;
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: #edf2f4;
    transition: color 0.2s;
  }
  
  .Star.filled {
    color: gold;
  }
  
