/* css for top navigation bar (any style not seen customized here is defaulted from bootstrap library) */
.custom-navbar 
{
  background-color: #171722;
  box-shadow: 2px 2px 5px -5px rgb(76, 75, 75);
}

.nav-item
{
  margin-left: 15px;
  margin-right: 15px;
}

#linkButton
{
  display: inline-flex;
  height: 100%;
  vertical-align: middle;
  background-color: #c44747;
  border-color: #edf2f4;
  border-width: 5px;
  color: #edf2f4;
  border-radius: 5px;
  justify-content: center;
  padding: 5px 10px;
}

#linkButton:hover
{
  background-color: #edf2f4;
  color: #c44747;
}


#buttonContainer
{
  margin-left: auto;
  margin-right: auto;
}

