.profile-container {
    width: 100%;
    max-width: 350px;
    margin: 50px auto;
    padding: 12px;
    background: #EDf2f4;
    border-radius: 3px;
    box-shadow: 0px 1px 4px rgb(65, 65, 65);
    text-align: center;
  }
  
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .profile-pic img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .default-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #8d99Ae;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  #input {
    width: 95%;
    padding: 10px;
    background: #8d99Ae;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(41, 39, 39);
  }
  
  .upload-btn {
    width: 75%;
    padding: 5px;
    background-color: #ef233c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline
  