.page-navigation-button 
{
    display: flex;
    gap: 10px;
    justify-content: center; /* Centers buttons horizontally */
    align-items: center; /* Aligns them properly */
}

.move-down
{
    margin-top: 50px;
}

.form-group
{
    display: inline-block;
    gap: 10px;
    justify-content: center; /* Centers buttons horizontally */
    align-items: center; /* Aligns them properly */
    width: 100%
}

button {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  

  
  #theButton {
    background: none;
    color: #bb0a21; 
    width: 10%;
  }

  #iconnon
  {
    width: 100%;
    height: 100%;
    font-size: xx-large;
    align-self: center;
    text-align: center;

  }


  #signupButton 
  {
    background: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
  }

  #searchbar
  {
    background: #202130;
    color: #8d99ae;
    width: 60%;
    height: 35px;
    border-color: #8d99ae;
    border-radius: 8px;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
