.page-navigation-button 
{
    display: flex;
    gap: 10px;
    justify-content: center; /* Centers buttons horizontally */
    align-items: center; /* Aligns them properly */
}

.move-down
{
    margin-top: 50px;
}

.form-group
{
    display: inline-block;
    gap: 10px;
    justify-content: center; /* Centers buttons horizontally */
    align-items: center; /* Aligns them properly */
    width: 100%
}

button {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  

  
  #theButton {
    align-items: center;
    margin: 5px;
    background-color: #c44747;
    border-color: #edf2f4;
    border-width: 5px;
    color: #edf2f4;
    border-radius: 5px;
    height: 30px;
    width: 10%;
  }
  
  #theButton:hover
{
  background-color: #edf2f4;
  color: #c44747;
}

  #iconnon
  {
    margin-top: -9px;
    font-size: 30px;
    align-self: center;
    text-align: center;

  }


  #signupButton 
  {
    background: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
  }

  #searchbar
  {
    background: #202130;
    color: #8d99ae;
    width: 60%;
    height: 35px;
    border-color: #8d99ae;
    border-radius: 8px;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
