/* Center the form */
.login-container {
  width: 60%;
  height: 75%;
  max-width: 350px;
  margin: 50px;
  margin-top: 65px;
  padding: 12px;
  background: #EDf2f4;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgb(65, 65, 65);
  text-align: center;
} 


#background
{
  padding: 0px;
  margin-top: -2%;
}

/* Style form groups */
.form-group 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0px;
}

#signin
{
  color: rgb(255, 255, 255);
}

.photo-card
{
  margin-top: 5%;
  padding: 0px;
  background:none;
}


#getridoftheannoyingbackground
{
  background: none;
}




/* Style input fields */
#input
{
  margin-bottom: -15px;
  border: none;
  border-color: none;
  width: 95%;
  padding: 10px;
  background: #8d99Ae;
  border-radius: 5px;
  font-size: 14px;
  color: rgb(41, 39, 39);
}





/* Style buttons */
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.loginButton 
{
  padding: 5px;
  margin-top: 0px;
  width: 75%;
  background-color: #d82f2f;
  color: rgb(255, 255, 255);
}

#signupLabel
{
 
  margin-top: 5px;
  margin-bottom: -12px;
  font-size: 13px;
  color: #5f5f5f;
  background-color: none;
}



.signupButton {

  width: 50%;
  background: none;
  color: #c44747;
  padding: 0px;
}

button:hover {
  opacity: 0.9;
}


/* Error message styling */
/*.error-message {
  display: block;
  padding: 2px;
  color: rgb(238, 0, 0);
  background: none;
  width: 100%;
}*/

#error-dv
{
  background: none;
  margin-top: 10px;
  min-height: 80px;
  margin-bottom: 15px;
  width: 100%;
}

#error
{
  display: block;
  font-size: 12px;
  color: #ed4337;
  padding: 0px;

}




#forgot
{
  background: none;
  display: block;
  font-size: 12px;
  color: #0000EE;
  padding: 0px;

}

#forgot:hover
{
  text-decoration: underline;

}




@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#fade-in {
  animation: fadeIn 1.2s ease-out;
}



















